CONFIG_DEBUG_PROBE_USE_REGULAR_GPIO=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions-4m.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions-4m.csv"
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

CONFIG_USB_DEBUG_PROBE=n
CONFIG_DEBUG_PROBE_GPIO_TDI=3
CONFIG_DEBUG_PROBE_GPIO_TDO=10
CONFIG_DEBUG_PROBE_GPIO_TCK=9
CONFIG_DEBUG_PROBE_GPIO_TMS=8

CONFIG_BRIDGE_GPIO_LED1=17
CONFIG_BRIDGE_GPIO_LED2=18
CONFIG_BRIDGE_GPIO_LED1_ACTIVE=1
CONFIG_BRIDGE_GPIO_LED2_ACTIVE=1