menu "ESP32 DAPLink Configuration"

config TINYUSB_DESC_HID_STRING
    string "HID Device Name"
    default "ESP32 HID CMSIS-DAP"
    help
        HID device name

config TINYUSB_DESC_VENDOR_STRING
    string "Vendor Bulk Device Name"
    default "ESP32 Bulk CMSIS-DAP"

config WEBUSB_URL
        string "WebUSB URL"
        default "example.tinyusb.org/webusb-serial/index.html"

choice MSC_STORAGE_MEDIA
    prompt "Storage Media Used"
    default MSC_STORAGE_MEDIA_SPIFLASH
    help
        Select the storage media that is exposed to USB host.

    config MSC_STORAGE_MEDIA_SPIFLASH
        bool "SPI FLASH"

    config MSC_STORAGE_MEDIA_SDMMCCARD
        bool "SDMMC CARD"
        depends on IDF_TARGET_ESP32S3
        depends on TINYUSB_MSC_ENABLED
endchoice

choice DAPLINK_CONNECT_METHOD
    prompt "DAPLink connection method"
    default BULK_DAPLINK
    config HID_DAPLINK
        bool "Connect to computer by HID"

    config BULK_DAPLINK
        bool "Connect to computer by bulk transmission"
        select TINYUSB_VENDOR_ENABLED
endchoice

config DAPLINK_DESC_STRING
    string
    default TINYUSB_DESC_HID_STRING if HID_DAPLINK
    default TINYUSB_DESC_VENDOR_STRING if BULK_DAPLINK

config HTTPD_MAX_OPENED_SOCKETS
    int "The max opened sockets of http server"
    default 5

config HTTPD_RESP_BUF_SIZE
    int "The size of http server to replay"
    default 512

config PROGRAMMER_ALGORITHM_ROOT
    string "The folder where the algorithms are stored"
    default "/data/algorithm"

config PROGRAMMER_PROGRAM_ROOT
    string "The folder where the programs are stored"
    default "/data/program"

config PROGRAMMER_FILE_MAX_LEN
    int "Maximum length of file path"
    default 128

endmenu
