menu "ESP32 DAPLink Configuration"

config TINYUSB_DESC_HID_STRING
    string "HID Device Name"
    default "DAP HID Device"
    help
        HID device name

choice MSC_STORAGE_MEDIA
    prompt "Storage Media Used"
    default MSC_STORAGE_MEDIA_SPIFLASH
    help
        Select the storage media that is exposed to USB host.

    config MSC_STORAGE_MEDIA_SPIFLASH
        bool "SPI FLASH"

    config MSC_STORAGE_MEDIA_SDMMCCARD
        bool "SDMMC CARD"
        depends on IDF_TARGET_ESP32S3
        depends on TINYUSB_MSC_ENABLED
endchoice

config HTTPD_MAX_OPENED_SOCKETS
    int "The max opened sockets of http server"
    default 5

config HTTPD_RESP_BUF_SIZE
    int "The size of http server to replay"
    default 512

config PROGRAMMER_ALGORITHM_ROOT
    string "The folder where the algorithms are stored"
    default "/data/algorithm"

config PROGRAMMER_PROGRAM_ROOT
    string "The folder where the programs are stored"
    default "/data/program"

config PROGRAMMER_FILE_MAX_LEN
    int "Maximum length of file path"
    default 128

config ENABLE_WEBUSB
    bool "Enable bulk transfer"
    default y

if ENABLE_WEBUSB
    config TINYUSB_DESC_WEBUSB_STRING
        string "WEBUSB device name"
        default "ESP32 Bulk CMSIS-DAP"
        depends on ENABLE_WEBUSB
    
    config WEBUSB_URL
        string "WebUSB URL"
        default "example.tinyusb.org/webusb-serial/index.html"
        depends on ENABLE_WEBUSB
endif
endmenu
